<%- include("header") -%>



<div class="Homepage">
    <div class="Homepage1">
        ✪ Jas 13 Studio ✪ - To Do list with Database
      </div>
<div class="box" id="heading">
    <h1 > Please enter your name Below </h1>
  </div>

  
  <form action="/about" method="post">
    <input type="text" name="userName" placeholder="Your Name" autocomplete="off">
    <div>
    <button class="btn btn-secondary col-3" type="submit"  >Submit</button>
    </div>
  </form>
  

</div>
<%- include("footer") -%>
